.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: white;
    padding: 3vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 1001;
}

.modal-content {
    /* 모달 내용 스타일 */
    color: #000;
    font-family: Inter;

    padding-left: 3vw;
    padding-right: 3vw;
}

.close {
    cursor: pointer;
}